langgraph
langchain-core
langchain-deepseek
langchain_community
langchain_openai
langchain-tavily
langchain-deepseek
python-dotenv
langsmith
pydantic
matplotlib
seaborn
pandas
scikit-learn
akshare
pytest 
pytest-django
setuptools
pandas_ta